.row-div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.column-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Profile-image {
  font-size: 1rem;
}
