$darkergrey: #222222;
$darkgrey: #64748b;
$midgrey: #b6b9bb;
$lightgrey: #9ea8b7;
$lightergrey: #ecedee;
$alco-yellow: #ffed71;
$alco-yellow2: #ffed72;
$alco-yellow2-darker: #ffe640;

.qna-create-page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-family: "SUITE-Regular";
  line-height: 1.5;
  letter-spacing: 0.08rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid $midgrey;
  margin-top: 90px;
  padding: 10px 0 10px 0;
  font-family: "SUITE-Regular";
  line-height: 1.5;
  letter-spacing: 0.08rem;

  .temporary-storage-btn {
    width: 120px;
    height: 50px;
    margin-right: 10px;
    padding: 10px;
    color: $darkgrey;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    font-family: "SUITE-Regular";
    line-height: 1.5;
    letter-spacing: 0.08rem;
    &:hover {
      background-color: rgba($alco-yellow2, 0.2);
      cursor: pointer;
      color: black;
    }
  }
  .save-btn {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 0.5rem;
    margin-right: 10px;
    padding: 10px;
    background-color: rgba($alco-yellow2, 0.2);
    color: $midgrey;
    font-size: 1.125rem;
    font-family: "SUITE-Regular";
    line-height: 1.5;
    letter-spacing: 0.08rem;
    font-weight: 700;
    &.btn-enabled {
      color: $darkgrey;
      border: none;
      background-color: $alco-yellow2;
      &:hover {
        cursor: pointer;
        background-color: $alco-yellow2-darker;
        color: black;
      }
    }
  }
  .submit-btn {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 0.5rem;
    margin-right: 10px;
    padding: 10px;
    color: $midgrey;
    font-size: 1.125rem;
    font-family: "SUITE-Regular";
    line-height: 1.5;
    letter-spacing: 0.08rem;
    font-weight: 700;
    background-color: $lightgrey;
    &.btn-enabled {
      color: white;
      background-color: $darkgrey;
      &:hover {
        background-color: $darkergrey;
        cursor: pointer;
      }
    }
  }
}

.write-wrapper {
  width: 800px;
  height: 100%;
  font-family: "SUITE-Regular";
  line-height: 1.5;
  letter-spacing: 0.08rem;

  .title-add-wrapper {
    display: grid;
    justify-items: start;
    width: 100%;
    div {
      display: flex;
      align-items: center;
      width: 100%;
    }
    .title-add-btn {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 30px 0 30px 0;
      color: $midgrey;
      font-size: 1.25rem;
      font-weight: bold;
      border: none;
      background-color: transparent;
      font-family: "SUITE-Regular";
      line-height: 1.5;
      letter-spacing: 0.08rem;
      cursor: pointer;
      &:hover {
        color: $darkgrey;
      }
    }

    .count-title {
      justify-content: end;
      color: $midgrey;
      font-size: 1.1rem;
      font-family: "SUITE-Regular";
      line-height: 1.5;
      letter-spacing: 0.08rem;
      font-weight: 700;
    }

    .title-cancel-btn {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 30px 0 30px 0;
      border: none;
      background-color: transparent;
      color: $darkgrey;
      font-size: 1.25rem;
      font-weight: 700;
      font-family: "SUITE-Regular";
      line-height: 1.5;
      letter-spacing: 0.08rem;
      cursor: pointer;
      &:hover {
        color: $darkergrey;
      }
    }
    .input-title {
      margin: 10px 0 50px 5px;
      font-size: 1.25rem;
      font-weight: bold;
      color: $darkgrey;
      width: 100%;
      outline: none; //포커스시 테두리 효과 없애기
      border: none; //포커스시 테두리 효과 없애기
      font-family: "SUITE-Regular";
      line-height: 1.5;
      letter-spacing: 0.08rem;
      &::placeholder {
        color: $midgrey;
        font-family: "SUITE-Regular";
        line-height: 1.5;
        letter-spacing: 0.08rem;
      }
    }
  }
}

.editor-box {
  font-size: 1rem;
}
