$darkergrey: #3d4755;
$darkgrey: #7a828c;
$midgrey: #b6b9bb;
$lightgrey: #d7dbdf;
$lightergrey: #ecedee;
$alco-yellow: #ffed71;
$alco-peach: #ffc597;
$alco-pink: #ff7eb1;
$alco-purple: #9367ff;
$alco-blue: #6bd7ff;

.qna-create-page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid $midgrey;
  margin-top: 90px;
  padding: 10px 0 10px 0;

  .temporary-storage-btn {
    margin-right: 10px;
    padding: 10px;
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 0.25rem;
    background-color: white;
    &:hover {
      background-color: $lightergrey;
      cursor: pointer;
    }
  }
  .save-btn {
    border: 1px solid $midgrey;
    border-radius: 0.25rem;
    margin-right: 10px;
    padding: 10px;
    color: $midgrey;
    font-weight: 700;
    &.btn-enabled {
      color: $darkgrey;
      border: 1px solid $darkgrey;
      &:hover {
        background-color: $lightgrey;
        cursor: pointer;
      }
    }
  }
  .submit-btn {
    border: 1px solid $midgrey;
    border-radius: 0.25rem;
    margin-right: 10px;
    padding: 10px;
    color: $midgrey;
    font-weight: 700;
    border: none;
    background-color: $lightgrey;
    &.btn-enabled {
      color: white;
      background-color: $darkgrey;
      &:hover {
        background-color: $darkergrey;
        cursor: pointer;
      }
    }
  }
}

.write-wrapper {
  width: 60%;
  height: 100%;
  .title-add-btn {
    display: flex;
    margin: 30px 0 30px 0;
    color: $midgrey;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      color: $darkgrey;
    }
  }
  .title-add-wrapper {
    display: grid;
    justify-items: start;
    width: 100%;
    div {
      display: flex;
      align-items: center;
      width: 100%;
    }
    button {
      width: 100px;
    }

    .count-title {
      justify-content: end;
      color: $midgrey;
      font-size: 1.1rem;
    }

    .title-cancel-btn {
      margin: 30px 0 30px 0;
      border: none;
      background-color: transparent;
      color: $darkgrey;
      font-size: 1.25rem;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: $darkergrey;
      }
    }
    .input-title {
      margin: 10px 0 50px 5px;
      font-size: 1.25rem;
      font-weight: bold;
      color: $darkgrey;
      width: 100%;
      outline: none; //포커스시 테두리 효과 없애기
      border: none; //포커스시 테두리 효과 없애기
    }
    .input-title::placeholder {
      color: $midgrey;
    }
  }
}

.editor-box {
  font-size: 1rem;
}
