$darkergrey: #222222;
$darkgrey: #64748b;
$midgrey: #b6b9bb;
$lightgrey: #9ea8b7;
$lightergrey: #ecedee;
$alco-yellow: #ffed71;
$alco-yellow2: #ffed72;
$alco-yellow2-darker: #ffe640;

.qna-detail-page-layout {
  width: 100vw;
  display: flex;
  justify-content: center;

  .viewer-answer-wrapper {
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    padding: 30px 70px 100px 70px;
    background-color: white;
  }
}

.quetion-delete-btn-container {
  display: flex;
  justify-content: end;
  width: 100%;
  .quetion-delete-btn {
    width: 60px;
    height: 32px;
    background-color: #ffed72;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: $darkgrey;
    &:hover {
      color: black;
      background-color: #ffe640;
      cursor: pointer;
    }
  }
}

.viewer-container {
  width: 100%;
  height: 100%;
}
.title {
  font-size: 1.75rem;
  font-weight: 800;
  letter-spacing: 0.15rem;
}

.post-info {
  display: flex;
  margin: 8px 0 10px 0;
  color: $lightgrey;
  letter-spacing: 0.05rem;
  font-size: 0.875rem;
  font-weight: 600;
  .dot-btw-title-postinfo {
    margin: 0 3px 0 3px;
  }
}

.viewer-component-wrapper {
  padding: 20px 0 55px 0;
}

.viewer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.like-dislike-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $midgrey;

  .is-this-useful {
    font-weight: 600;
    margin-left: 15px;
    padding: 10px 0 10px 0;
    font-size: 0.875rem;
  }
}

.like-dislike {
  display: flex;
  width: 100%;
  height: 100%;
  button {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: $midgrey;
    div {
      padding-right: 2px;
      margin-right: 3px;
    }
  }
}

.like-button {
  display: flex;
}

.like-button:hover {
  cursor: pointer;
}

.like-button.like-button-clicked {
  color: $alco-yellow2;
}

.arrow-btn-wrapper {
  height: 100%;
}

.arrow-btn {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: end;
}

.dislike-button {
  display: flex;
  span {
    padding-left: 4.5px;
  }
}
.dislike-button:hover {
  cursor: pointer;
}

.writer-info {
  display: flex;
  align-items: center;
  color: $darkgrey;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  .questioner-profile-img {
    width: 55px;
    height: auto;
  }
}

.answer-count {
  display: flex;
  width: 100%;
  margin: 50px 0 25px 0;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02rem;
}
