@charset "UTF-8";
.qnalist-layout {
  display: flex;
  width: 100%;
  height: 100%;
}

.layout-left {
  width: 38%;
  height: 100%;
  padding: 0 70px 0 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-right: 1px solid #d7dbdf;
}

.write-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  padding-left: 20px;
  margin: 30px 0 30px 0;
  border: none;
  border-radius: 2rem;
  background-color: #f1f5f9;
  font-size: 1.125rem;
  color: #a8b0b7;
}
.write-button div {
  display: flex;
}
.write-button div span:nth-child(1) {
  display: flex;
  justify-content: start;
  align-items: cener;
  font-size: 2.5rem;
  margin-right: 5px;
}
.write-button div div {
  padding-top: 9px;
}
.write-button span {
  display: flex;
  justify-content: start;
  align-items: cener;
  margin-right: 20px;
  font-size: 1.75rem;
}

.post-container {
  width: 100%;
  border-bottom: 1px solid #d7dbdf;
  margin: 15px 0 30px 0;
  padding: 0 10px 20px 10px;
}
.post-container .post-container-header .respondent-description {
  display: flex;
  align-items: ceter;
  color: #64758b;
}
.post-container .post-container-header .respondent-description span {
  display: flex;
  align-items: center;
  margin-right: 7px;
}
.post-container .post-container-header .respondent-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.post-container .post-container-header .respondent-info .profile-img {
  display: flex;
  align-items: center;
  margin-right: 3px;
  font-size: 2.5rem;
  color: #64758b;
}
.post-container .post-container-header .respondent-info span .post-date {
  color: #64758b;
}

.question-box {
  width: 95%;
  margin: 15px 0 15px 0;
  padding: 5px;
  border: 1px solid #d7dbdf;
  border-radius: 0.25rem;
}
.question-box .q-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  background-color: #f1f5f9;
}

.post-title {
  font-weight: bold;
  margin: 10px 0 10px 0;
}

.post-question {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 보여줄 최대 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: eclipsis;
}

.post-answer {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 보여줄 최대 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: eclipsis;
  margin-bottom: 20px;
}

.like-count {
  color: #64758b;
}

.like-comment {
  display: flex;
  align-items: center;
  color: #64758b;
}
.like-comment span {
  margin-right: 5px;
}
.like-comment span:nth-child(2) {
  margin-right: 20px;
}
.like-comment .icons {
  display: flex;
  align-items: center;
}

.like-count {
  margin: 25px 0 15px 0;
}

.loading {
  margin: auto;
  border: 10px solid #eaf0f6;
  border-radius: 50%;
  border-top: 10px solid #ff7eb1;
  width: 20px;
  height: 20px;
  animation: spinner 3s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=index.css.map */