.Header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffed72;
  padding: 10px 20px;
  font-size: 20px;

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    margin-right: 50px;
    cursor: pointer;
  }

  &__menu__left {
    display: flex;
    align-items: center;
    justify-content: start;

    &__list {
      list-style: none;
      display: flex;
      align-items: center;

      &-item {
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }

  &__menu__right {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 20px;

    &__list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &-item {
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
