.search {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;

  &__icon {
    position: absolute; // 상대적 위치 설정
    left: 15px; // 아이콘의 왼쪽 여백
    top: 50%; // 세로 중앙 정렬을 위한 top 설정
    transform: translateY(-50%); // 세로 중앙 정렬
  }

  &__input {
    margin-top: 120px;
    position: relative; // 아이콘의 위치를 상대적으로 조정

    input {
      width: 100%;
      height: 40px;
      border-radius: 30px;
      border: 1px solid #9ea8b7;
      background: #fff;
      padding: 30px 60px;
      font-size: 18px;
    }
  }
  &__tabs {
    width: 100%;
    margin-top: 30px;
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 20px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;

    &__item {
      margin-right: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  &__profile {
    max-width: 1000px;
    margin: 0 auto;

    &__item {
      margin-right: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      flex-wrap: nowrap;
      justify-content: space-between;
      border-bottom: 1px solid #dedede;

      &__first {
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }

      &__second {
        list-style: none;
        flex-grow: 1;

        li {
          margin-bottom: 5px;
        }

        &__name {
          font-size: 22px;
          font-weight: 600;
        }

        &__job {
          font-size: 18px;
          font-weight: 400;
          color: #5a852a;
        }

        &__sub {
          color: #64748b;
          font-size: 14px;
          font-weight: 200;
          margin-top: 10px;
        }

        &__follower {
          font-size: 14px;
          margin-top: 10px;
          font-weight: 600;
          color: #64748b;
        }
      }

      &__third {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          width: 100%;
          height: 40px;
          border-radius: 13.5px;
          background: #334155;
          border: 1px solid #dedede;
          padding: 10px 30px;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          transition: all 0.2s;
          color: #ffffff;

          &:hover {
            background-color: #ffed72;
          }
        }
      }
    }

    &__title {
      font-size: 16px;
      font-weight: 100;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__more {
      font-size: 16px;
      cursor: pointer;
      padding: 8px;
      transition: all 0.2s;

      &:hover {
        background-color: #ffed72;
        border-radius: 8px;
      }
    }
  }

  &__qna {
    max-width: 1000px;
    margin: 30px auto;

    &__title {
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__item {
      margin-left: 20px;
      cursor: pointer;

      &__question {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;

        &__Q {
          color: #5a852a;
          margin-right: 10px;
        }
      }

      &__content {
        color: #64748b;
        font-size: 16px;
        margin-bottom: 10px;
      }

      &__third {
        color: #5a852a;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;

        &__right {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
        }

        &__date {
          margin-left: 20px;
        }
      }
    }
  }
}
