$darkergrey: #3d4755;
$darkgrey: #7a828c;
$midgrey: #b6b9bb;
$lightgrey: #d7dbdf;
$lightergrey: #ecedee;
$alco-yellow: #ffed71;
$alco-peach: #ffc597;
$alco-pink: #ff7eb1;
$alco-purple: #9367ff;
$alco-blue: #6bd7ff;
$alco-test-butter: #faedb2;
$alco-test-pink: #f8bdeb;
$alco-test-blue: #5272f2;
$alco-test-navy: #082541;

.answer-viewer-layout {
  width: 100%;
  margin-bottom: 50px;
}

.answer-viewer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0 8px 0;
  border: 1px solid $lightgrey;

  background-color: rgba($alco-test-blue, 0.5);

  .answer-viewer-header {
    display: flex;
    padding: 15px 5px 10px 5px;
    width: 100%;
    height: 100%;
    position: relative;
    .answer-viewer-header-user-photo {
      display: flex;
      align-items: center;
      font-size: 2.75rem;
      color: $darkergrey;
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 5px;
    }

    .answer-header-block {
      display: flex;
      flex-direction: column;
      .user-info {
        display: flex;
        flex-direction: row;
        font-size: 0.875rem;
        font-size: 1.125rem;
        color: black;
      }
    }
    .user-date-text {
      color: $darkgrey;
    }
    .author-badge-container {
      display: flex;
      justify-content: start;
      align-items: top;
      .author-badge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 17px;
        margin: 3px 0 0 5px;
        border-radius: 0.5rem;
        background-color: $darkgrey;
        .author-text {
          font-size: 0.6rem;
          color: white;
        }
      }
    }
    .answer-delete-btn-container {
      position: absolute;
      right: 15px;

      .answer-delete-btn {
        background-color: rgba(white, 0.3);
        border: none;
        border-radius: 0.25rem;
        color: $darkgrey;
        &:hover {
          background-color: rgba(white, 0.5);
          color: $darkergrey;
          cursor: pointer;
        }
      }
    }
  }
}

.answer-content {
  padding: 10px;
}

.answer-viewer-footer {
  display: flex;
  align-items: center;
  padding-left: 5px;

  button {
    display: flex;
    align-items: end;
    color: $darkergrey;
    border: none;
    background-color: rgba(white, 0);

    span {
      display: flex;
      align-items: center;
      padding-right: 3px;
      font-size: 1rem;
    }
    div {
      font-size: 0.875rem;
      padding-right: 2px;
    }
  }
  .like-button {
    width: 80px;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
  .reply-button {
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}

.comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $lightgrey;
  border-left: 1px solid $lightgrey;
  border-bottom: 1px solid $lightgrey;
  padding: 5px 0 5px 0;
  background-color: rgba($alco-test-blue, 0.5);

  .comment-textarea {
    border: none;
    outline: none; //disable outline when focused on
    overflow: hidden; //스크롤이 생기지 않도록
    resize: none;
    width: 95%;
    height: 34px;
    min-height: 34px;
    max-height: none;
    background-color: rgba($alco-test-blue, 0);
  }
  .button-wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    button {
      width: 60px;
      height: 32px;
      border: none;
      border-radius: 0.5rem;
      background-color: $lightergrey;
      font-size: 1rem;
      color: $midgrey;
      margin-right: 5px;
      &.enabled {
        background-color: $darkergrey;
        color: white;
        &:hover {
          background-color: black;
          cursor: pointer;
        }
      }
    }
  }
}

.comment-view-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $lightgrey;
  border-left: 1px solid $lightgrey;
  border-bottom: 1px solid $lightgrey;
  padding: 5px 0 5px 0;
  background-color: rgba($alco-test-blue, 0.5);
}

.comment-viewer-header {
  display: flex;
  justify-content: start;
  width: 100%;
  padding-left: 15px;
  position: relative;
  span {
    font-size: 2.125rem;
    color: $darkergrey;
  }
  .user-date-info {
    margin-left: 10px;
    .user-badge-container {
      display: flex;
      .author-badge-container-2 {
        display: flex;
        justify-content: start;
        align-items: top;
        margin-left: 5px;
        .author-badge-2 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 45px;
          height: 17px;

          border-radius: 0.5rem;
          background-color: $darkgrey;
          .author-text-2 {
            font-size: 0.6rem;
            color: white;
          }
        }
      }
    }

    .user-date-text {
      color: $darkergrey;
      font-size: 0.875rem;
    }
  }

  .comment-delete-btn-container {
    position: absolute;
    right: 15px;
    button {
      background-color: rgba(white, 0.3);
      border: none;
      border-radius: 0.25rem;
      color: $darkgrey;
      &:hover {
        background-color: rgba(white, 0.5);
        color: $darkergrey;
        cursor: pointer;
      }
    }
  }
}

.comment-view-content-box {
  display: flex;
  justify-content: end;
  width: 100%;

  div {
    width: 90%;
    border-radius: 0.5rem;
    margin-right: 5px;
    padding: 5px;
    background-color: rgba(white, 0.7);
    color: $darkergrey;
  }
}
