$darkergrey: #3d4755;
$darkgrey: #7a828c;
$midgrey: #b6b9bb;
$lightgrey: #d7dbdf;
$lightergrey: #ecedee;
$alco-yellow: #ffed71;
$alco-yellow2: #ffed72;

.answer-editor-layout {
  width: 100%;
}

.answer-container {
  display: flex;
  width: 800px;
  height: 170px;
  border: 1px solid $lightgrey;
  border-radius: 2rem;
  margin-bottom: 30px;

  .answer-container-left {
    width: 50px;
    justify-content: center;
    margin: 10px 0 0 5px;
    span {
      font-size: 3rem;
      color: $darkgrey;
    }
  }

  .answer-container-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    padding-top: 5px;
    margin: 10px 5px 0 5px;
    div {
      font-size: 1.125rem;
      color: $midgrey;
      margin: 5px 0 5px 0;
    }
    .text-textarea {
      height: 34px;
      border: none;
      outline: none; //disable outline when focused on
      resize: none; //disable drag handle
      background-color: rgba($alco-yellow, 0);
    }
    .codebox-container {
      display: flex;
      flex-direction: column;
      border: 1px solid $lightgrey;
      border-radius: 0.25rem;
      select {
        width: 100px;
        height: 25px;
        border: 1px solid $lightgrey;
        border-radius: 0.25rem;
        margin: 5px;
        background-color: rgba($alco-yellow2, 0);
        option {
          background-color: $alco-yellow;
        }
      }
    }

    .codebox-textarea-wrapper {
      border: 1px solid $lightgrey;
      border-radius: 0.25rem;
      margin: 5px;
    }

    .codebox-textarea {
      height: 34px;
      border: none;
      outline: none; //disable outline when focused on
      resize: none; //disable drag handle
      background-color: rgba($alco-yellow2, 0);
    }
    .btn-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-top: 1px solid $lightgrey;
      padding-top: 10px;

      .codebox-btn {
        font-size: 1.375rem;
        color: $darkergrey;
        background-color: rgba($alco-yellow2, 0);
        border: none;
      }

      .reply-submit-btn {
        width: 80px;
        height: 32px;
        margin-right: 10px;
        font-size: 1rem;
        border: none;
        border-radius: 0.5rem;
        color: $midgrey;
      }
      .btn-enabled {
        color: white;
        background-color: $darkergrey;
        &:hover {
          background-color: black;
          cursor: pointer;
        }
      }
    }
  }
}
