$darkergrey: #222222;
$darkgrey: #64748b;
$midgrey: #b6b9bb;
$lightgrey: #dddddd;
$lightergrey: #ecedee;
$alco-yellow: #ffed71;
$alco-yellow2: #ffed72;
$alco-yellow2-darker: #ffe640;

.answer-viewer-layout {
  width: 100%;
  margin-bottom: 50px;
}

.answer-viewer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0 25px 0;
  border: 1px solid $lightgrey;
  background-color: white;

  .answer-viewer-header {
    display: flex;
    align-items: center;
    padding: 5px 5px 10px 5px;
    width: 100%;
    height: 100%;
    position: relative;
    .answer-viewer-header-user-photo {
      display: flex;
      align-items: center;
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 5px;
    }

    .answerer-profile-image {
      width: 65px;
      height: auto;
    }

    .answer-header-block {
      display: flex;
      flex-direction: column;
      .user-info {
        display: flex;
        flex-direction: row;
        font-size: 0.875rem;
        font-size: 1.125rem;
        color: black;
        .answerer-name {
          color: $darkgrey;
          font-size: 1.1rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 0.08rem;
        }
      }
    }
    .user-date-text {
      color: $midgrey;
      font-weight: 700;
      font-size: 0.875rem;
    }
    .author-badge-container {
      display: flex;
      justify-content: start;
      align-items: top;
      .author-badge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 20px;
        margin: 3px 0 0 5px;
        border-radius: 0.5rem;
        background-color: $alco-yellow;
        .author-text {
          font-size: 0.875rem;
          font-weight: 700;
          color: black;
        }
      }
    }
    .answer-delete-btn-container {
      position: absolute;
      right: 15px;

      .answer-delete-btn {
        background-color: $alco-yellow2;
        width: 60px;
        height: 32px;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
        color: $darkgrey;
        &:hover {
          background-color: $alco-yellow2-darker;
          color: black;
          cursor: pointer;
        }
      }
    }
  }
}

.answer-content {
  padding: 25px 15px 40px 15px;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: black;
}

.answer-viewer-footer {
  display: flex;
  align-items: center;
  padding-left: 8px;

  button {
    display: flex;
    align-items: end;
    color: $darkgrey;
    border: none;
    background-color: rgba(white, 0);

    span {
      display: flex;
      align-items: center;
      padding-right: 3px;
      font-size: 1.25rem;
    }
    div {
      font-size: 1rem;
      font-weight: 700;
      padding-right: 2px;
    }
  }
  .like-button {
    width: 100px;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
  .answer-like-count {
    font-size: 1rem;
    font-weight: 700;
  }

  .reply-button {
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}

.comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $lightgrey;
  border-left: 1px solid $lightgrey;
  border-bottom: 1px solid $lightgrey;
  padding: 5px 0 5px 0;
  background-color: white;

  .comment-textarea {
    border: none;
    outline: none; //disable outline when focused on
    overflow: hidden; //스크롤이 생기지 않도록
    resize: none;
    width: 95%;
    height: 34px;
    min-height: 34px;
    max-height: none;
    background-color: rgba(white, 0);
    color: $darkgrey;
    font-size: 1.125rem;
    font-family: "SUITE-Regular";
    line-height: 1.5;
    letter-spacing: 0.08rem;
    &::placeholder {
      color: $midgrey;
      font-size: 1.125rem;
      font-family: "SUITE-Regular";
      line-height: 1.5;
      letter-spacing: 0.08rem;
    }
  }
  .button-wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    button {
      width: 60px;
      height: 32px;
      border: none;
      border-radius: 0.5rem;
      background-color: rgba($alco-yellow2, 0.8);
      font-size: 1rem;
      font-weight: 700;
      color: $midgrey;
      margin-right: 15px;
      &.enabled {
        background-color: $alco-yellow2;
        color: $darkgrey;
        &:hover {
          background-color: $alco-yellow2-darker;
          color: black;
          cursor: pointer;
        }
      }
    }
  }
}

.comment-view-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $lightgrey;
  border-left: 1px solid $lightgrey;
  border-bottom: 1px solid $lightgrey;
  padding: 5px 0 15px 0;
  background-color: white;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}

.comment-viewer-header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  position: relative;
  span {
    margin-top: 3px;
    .commenter-profile-img {
      width: 55px;
      height: auto;
    }
  }
  .user-date-info {
    margin-left: 10px;
    .user-badge-container {
      display: flex;
      .commenter-name {
        font-size: 1rem;
        font-weight: 700;
        color: $darkgrey;
      }

      .author-badge-container-2 {
        display: flex;
        justify-content: start;
        align-items: top;
        margin-left: 5px;
        .author-badge-2 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 55px;
          height: 20px;
          border-radius: 0.5rem;
          background-color: $alco-yellow2;
          .author-text-2 {
            font-size: 0.875rem;
            font-weight: 700;
            color: black;
          }
        }
      }
    }

    .user-date-text {
      color: $midgrey;
      font-size: 0.875rem;
      font-weight: 700;
    }
  }

  .comment-delete-btn-container {
    position: absolute;
    right: 15px;
    button {
      width: 60px;
      height: 32px;
      background-color: rgba($alco-yellow2, 0.8);
      border: none;
      border-radius: 0.5rem;
      color: $darkgrey;
      font-size: 1rem;
      font-weight: 700;
      &:hover {
        background-color: $alco-yellow2-darker;
        color: black;
        cursor: pointer;
      }
    }
  }
}

.comment-view-content-box {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-left: 19px;
  background-color: rgba(white, 0);
  font-size: 1rem;

  div {
    width: 90%;
    border-radius: 0.5rem;
    margin-right: 5px;
    padding: 10px;
    background-color: rgba(white, 0);
    color: $darkergrey;
  }
}
