$darkergrey: #222222;
$darkgrey: #64748b;
$midgrey: #b6b9bb;
$lightgrey: #dddddd;
$lightergrey: #ecedee;
$alco-yellow: #ffed71;
$alco-yellow2: #ffed72;
$alco-yellow2-darker: #ffe640;

.answer-editor-layout {
  width: 100%;
}

.answer-container {
  display: flex;
  width: 100%;
  height: 170px;
  border: 1px solid $lightgrey;
  margin-bottom: 30px;
  padding: 0 10px 0 0;

  .answer-container-left {
    width: 50px;
    justify-content: center;
    margin: 15px 5px 0 5px;
    span {
      font-size: 3rem;
      color: $darkgrey;
    }
    .answerer-profile-img {
      width: 65px;
      height: auto;
    }
  }

  .answer-container-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.125rem;
    font-weight: 600;
    padding-top: 5px;
    margin: 10px 5px 0 5px;
    line-height: 1.2;
    letter-spacing: 0.1rem;

    .answer-text {
      color: $darkgrey;
    }
    div {
      font-size: 1.125rem;
      color: $midgrey;
      margin: 10px 0 10px 0;
    }
    .text-textarea {
      height: 34px;
      border: none;
      outline: none; //disable outline when focused on
      resize: none; //disable drag handle
      background-color: white;
      color: $midgrey;
      font-size: 1rem;
      font-family: "SUITE-Regular";
      line-height: 1.2;
      letter-spacing: 0.02rem;
      &::placeholder {
        color: $midgrey;
        font-size: 1rem;
        font-family: "SUITE-Regular";
        line-height: 1.2;
        letter-spacing: 0.02rem;
      }
    }
    .codebox-container {
      display: flex;
      flex-direction: column;
      border: 1px solid $lightgrey;
      border-radius: 0.25rem;
      select {
        width: 100px;
        height: 25px;
        border: 1px solid $lightgrey;
        border-radius: 0.25rem;
        margin: 5px;
        background-color: rgba($alco-yellow2, 0);
        option {
          background-color: $alco-yellow;
        }
      }
    }

    .codebox-textarea-wrapper {
      border: 1px solid $lightgrey;
      border-radius: 0.25rem;
      margin: 5px;
    }

    .codebox-textarea {
      height: 34px;
      border: none;
      outline: none; //disable outline when focused on
      resize: none; //disable drag handle
      background-color: rgba($alco-yellow2, 0);
      font-size: 1.125rem;
    }
    .btn-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-top: 1px solid $lightgrey;
      padding-top: 10px;

      .codebox-btn {
        font-size: 1.375rem;
        color: $darkergrey;
        background-color: rgba($alco-yellow2, 0);
        border: none;
      }

      .reply-submit-btn {
        width: 80px;
        height: 32px;
        margin-right: 10px;
        font-size: 1rem;
        font-weight: 700;
        border: none;
        border-radius: 0.5rem;
        color: $midgrey;
        background-color: rgba($alco-yellow2, 0.7);
      }
      .btn-enabled {
        color: $darkgrey;
        background-color: $alco-yellow;

        &:hover {
          color: black;
          background-color: $alco-yellow2-darker;
          cursor: pointer;
        }
      }
    }
  }
}
