.answer-viewer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0 8px 0;
  border: 1px solid #d7dbdf;
  background-color: rgba(255, 255, 255, 0.5);
}
.answer-viewer-container .answer-viewer-header {
  display: flex;
  padding: 15px 5px 10px 5px;
}
.answer-viewer-container .answer-viewer-header span {
  font-size: 2.75rem;
  color: #64758b;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.answer-viewer-container .answer-viewer-header div:nth-child(1) {
  font-size: 1.25rem;
  color: black;
}
.answer-viewer-container .answer-viewer-header div:nth-child(2) {
  color: #64758b;
}
.answer-content {
  padding: 10px;
}

.answer-viewer-footer {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.answer-viewer-footer button {
  display: flex;
  align-items: end;
  color: #64758b;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.answer-viewer-footer button span {
  display: flex;
  align-items: center;
  padding-right: 3px;
  font-size: 1rem;
}
.answer-viewer-footer button div {
  font-size: 1rem;
  padding-right: 2px;
}
.answer-viewer-footer .like-button {
  width: 75px;
}
.comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #d7dbdf;
  border-left: 1px solid #d7dbdf;
  border-bottom: 1px solid #d7dbdf;
  padding: 5px 0 5px 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.comment-container textarea {
  border: none;
  outline: none;
  resize: none;
  height: 34px;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.5);
}
.comment-container .button-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
}
.comment-container .button-wrapper button {
  width: 60px;
  height: 32px;
  border: none;
  border-radius: 0.25rem;
  background-color: #f1f5f9;
  font-size: 1.25rem;
  color: #a8b0b7;
  margin-right: 5px;
}
.comment-container .button-wrapper button.enabled {
  background-color: #3d4755;
  color: white;
}
.comment-container .button-wrapper button.enabled:hover {
  background-color: black;
  cursor: pointer;
}

.comment-view-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #d7dbdf;
  border-left: 1px solid #d7dbdf;
  border-bottom: 1px solid #d7dbdf;
  padding: 5px 0 5px 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.comment-viewer-header {
  display: flex;
  justify-content: start;
  width: 100%;
  padding-left: 15px;
}
.comment-viewer-header span {
  font-size: 2.125rem;
  color: #64758b;
}
.comment-viewer-header .user-date-info {
  margin-left: 10px;
}
.comment-viewer-header .user-date-info div:nth-child(2) {
  color: #64758b;
}

.comment-view-content-box {
  display: flex;
  justify-content: end;
  width: 100%;
}
.comment-view-content-box div {
  width: 90%;
  border-radius: 0.25rem;
  margin-right: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #3d4755;
}/*# sourceMappingURL=answerViewer.css.map */