$darkergrey: #3d4755;
$darkgrey: #64758b;
$midgrey: #a8b0b7;
$lightgrey: #d7dbdf;
$lightergrey: #f1f5f9;
$alco-yellow: #ffed71;
$alco-peach: #ffc597;
$alco-pink: #ff7eb1;
$alco-purple: #9367ff;
$alco-blue: #6bd7ff;
