$darkergrey: #222222;
$darkgrey: #64748b;
$midgrey: #b6b9bb;
$lightgrey: #9ea8b7;
$lightergrey: #ecedee;
$alco-yellow: #ffed71;
$alco-yellow2: #ffed72;
$alco-yellow2-darker: #ffe640;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0; //added due to other buttons' properties affecting this selector
  background-color: rgba(black, 0.3);
  z-index: 3000;
  font-family: "SUITE-Regular";
  line-height: 1.5;
  letter-spacing: 0.08rem;
}

.modal {
  background-color: white;
  width: 40%;
  height: 75%;
  padding-top: 20px;
  border-radius: 0.5rem;
  z-index: 1010;
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid $lightgrey;
  font-weight: 700;

  position: relative;
  div {
    font-size: 1.5rem;
  }
  .modal-close-btn {
    display: flex;
    align-items: center;
    margin-right: 5px;
    border: none;
    background-color: white;
    color: $darkgrey;
    font-size: 1.75rem;
    position: absolute;
    right: 0;
    &:hover {
      cursor: pointer;
      color: $darkergrey;
    }
  }
}

.temp-saved-post-container {
  display: flex;
  align-items: end;
  width: 100%;
  height: 60px;
  padding: 18px 0 15px 0;
  border-bottom: 1px solid $lightergrey;
  position: relative;
  &:hover {
    background-color: $lightergrey;
  }
  div {
    margin-left: 5px;
    font-size: 1.25rem;
    color: $darkgrey;
  }
  .temp-saved-post-title {
    margin-left: 15px;
  }
  .temp-saved-post-created-at {
    font-size: 0.75rem;
    padding-bottom: 2px;
  }
  .bin-btn {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border: none;
    background-color: rgba(white, 0);
    color: #8464d4;
    font-size: 1.375rem;
    position: absolute;
    right: 0;
    &:hover {
      cursor: pointer;
      color: #653bcf;
    }
  }
}
